form{
    background-color: #0B1C26;
    padding: 60px;
    display: inline-flex;
    flex-direction: column;
    width: 640px;
    align-items: center;
    margin-top: 6%;
    margin-left: 28%;
    h1{
        color: white;
    }
}

.login-btn{
    background-color: #3f9ac5;
    border: 0;
    color: white;
    text-decoration: solid;
    padding: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 92px;
}

.login-ip{
    width: 240px;
    margin-bottom: 12px;
}

.login-title{
    font-size: 40px;
    margin-bottom: 40px;
}